openapi: 3.2.0
info:
  title: Employ Inc Organizers API
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Organizers across 2 of this provider''s published API definitions: employ-inc-content-api-openapi.yml, employ-inc-events-calendar-rest-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.employinc.com/wp-json/wp/v2
  description: Production — Employ, Inc. corporate site
- url: https://www.employinc.com/wp-json/tribe/events/v1/
tags:
- name: Organizers
  description: Event organizers, as WordPress posts.
paths:
  /wp/v2/tribe_organizer:
    get:
      operationId: listOrganizers
      summary: List organizers
      description: Event organizers, as WordPress posts.
      tags:
      - Organizers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - nab_hidden
            - tribe-ea-success
            - tribe-ea-failed
            - tribe-ea-schedule
            - tribe-ea-pending
            - tribe-ea-draft
            - tribe-ignored
            - any
        description: Limit result set to posts assigned one or more statuses.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createOrganizers
      summary: Create organizers
      description: Event organizers, as WordPress posts.
      tags:
      - Organizers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    servers:
    - url: https://www.employinc.com/wp-json/wp/v2
      description: Production — Employ, Inc. corporate site
  /wp/v2/tribe_organizer/{id}:
    get:
      operationId: getOrganizersById
      summary: Retrieve a single organizer
      description: Event organizers, as WordPress posts.
      tags:
      - Organizers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Organizer record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateOrganizersById
      summary: Update a single organizer
      description: Event organizers, as WordPress posts.
      tags:
      - Organizers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Organizer record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    put:
      operationId: updateOrganizersById
      summary: Update a single organizer
      description: Event organizers, as WordPress posts.
      tags:
      - Organizers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Organizer record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteOrganizersById
      summary: Delete a single organizer
      description: Event organizers, as WordPress posts.
      tags:
      - Organizers
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Organizer record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Whether to bypass Trash and force deletion.
                id:
                  type: integer
                  description: Unique identifier for the post.
      security:
      - applicationPassword: []
    servers:
    - url: https://www.employinc.com/wp-json/wp/v2
      description: Production — Employ, Inc. corporate site
  /organizers:
    get:
      parameters:
      - in: query
        schema:
          type: integer
        description: The archive page to return
        required: false
        name: page
      - in: query
        schema:
          type: integer
        description: The number of organizers to return on each page
        required: false
        name: per_page
      - in: query
        schema:
          type: string
        description: Organizers should contain the specified string in the title, description or custom fields
        required: false
        name: search
      - in: query
        schema:
          type: integer
        description: Organizers should be related to this event
        required: false
        name: event
      - in: query
        schema:
          type: boolean
        description: Organizers should have events associated to them
        required: false
        name: has_events
      - in: query
        schema:
          type: boolean
        description: Organizers should have upcoming events associated to them
        required: false
        name: only_with_upcoming
      - in: query
        schema:
          type: string
        description: The organizer post status
        required: false
        name: status
      responses:
        '200':
          description: Returns all the organizers matching the search criteria
          content:
            application/json:
              schema:
                title: organizers
                type: array
                items:
                  $ref: '#/components/schemas/Organizer'
        '400':
          description: One or more of the specified query variables has a bad format
        '404':
          description: The requested page was not found.
      tags:
      - Organizers
      summary: Get organizers
      x-summary-source: derived
      operationId: getOrganizers
      x-operation-id-source: derived
    servers:
    - url: https://www.employinc.com/wp-json/tribe/events/v1/
  /organizers/{id}:
    get:
      parameters:
      - in: path
        schema:
          type: integer
        description: the organizer post ID
        required: true
        name: id
      responses:
        '200':
          description: Returns the data of the organizer with the specified post ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        '400':
          description: The organizer post ID is missing.
        '403':
          description: The organizer with the specified ID is not accessible.
        '404':
          description: An organizer with the specified event does not exist.
      tags:
      - Organizers
      summary: Get organizers by id
      x-summary-source: derived
      operationId: getOrganizersById
      x-operation-id-source: derived
    post:
      parameters:
      - in: path
        schema:
          type: integer
        description: the organizer post ID
        required: true
        name: id
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  description: the organizer post ID
                  type: integer
                author:
                  description: The organizer author ID
                  type: integer
                date:
                  description: The organizer publication date
                  type: string
                date_utc:
                  description: The organizer publication date (UTC time zone)
                  type: string
                organizer:
                  description: The organizer name
                  type: string
                description:
                  description: The organizer description
                  type: string
                status:
                  description: The organizer post status
                  type: string
                phone:
                  description: The organizer phone number
                  type: string
                website:
                  description: The organizer website
                  type: string
                email:
                  description: The organizer e-mail address
                  type: string
                image:
                  description: The organizer featured image ID or URL
                  type: string
      responses:
        '201':
          description: Returns the data of the created organizer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        '400':
          description: A required parameter is missing or an input parameter is in the wrong format
        '403':
          description: The user is not authorized to create organizers
      tags:
      - Organizers
      summary: Create organizers by id
      x-summary-source: derived
      operationId: postOrganizersById
      x-operation-id-source: derived
    delete:
      parameters:
      - in: path
        schema:
          type: integer
        description: the organizer post ID
        required: true
        name: id
      responses:
        '200':
          description: Deletes an organizer and returns its data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        '400':
          description: The organizer post ID is missing or does not exist.
        '403':
          description: The current user cannot delete the organizer with the specified ID.
        '410':
          description: The organizer with the specified ID has been deleted already.
        '500':
          description: The organizer with the specified ID could not be deleted.
      tags:
      - Organizers
      summary: Delete organizers by id
      x-summary-source: derived
      operationId: deleteOrganizersById
      x-operation-id-source: derived
    servers:
    - url: https://www.employinc.com/wp-json/tribe/events/v1/
  /organizers/by-slug/{slug}:
    get:
      parameters:
      - in: path
        schema:
          type: string
        description: the organizer post name
        required: true
        name: slug
      responses:
        '200':
          description: Returns the data of the organizer with the specified post ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        '400':
          description: The organizer post ID is missing.
        '403':
          description: The organizer with the specified ID is not accessible.
        '404':
          description: An organizer with the specified event does not exist.
      tags:
      - Organizers
      summary: Get organizers by slug by slug
      x-summary-source: derived
      operationId: getOrganizersBySlugBySlug
      x-operation-id-source: derived
    post:
      parameters:
      - in: path
        schema:
          type: string
        description: the organizer post name
        required: true
        name: slug
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                slug:
                  description: the organizer post name
                  type: string
                author:
                  description: The organizer author ID
                  type: integer
                date:
                  description: The organizer publication date
                  type: string
                date_utc:
                  description: The organizer publication date (UTC time zone)
                  type: string
                organizer:
                  description: The organizer name
                  type: string
                description:
                  description: The organizer description
                  type: string
                status:
                  description: The organizer post status
                  type: string
                phone:
                  description: The organizer phone number
                  type: string
                website:
                  description: The organizer website
                  type: string
                email:
                  description: The organizer e-mail address
                  type: string
                image:
                  description: The organizer featured image ID or URL
                  type: string
      responses:
        '201':
          description: Returns the data of the created organizer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        '400':
          description: A required parameter is missing or an input parameter is in the wrong format
        '403':
          description: The user is not authorized to create organizers
      tags:
      - Organizers
      summary: Create organizers by slug by slug
      x-summary-source: derived
      operationId: postOrganizersBySlugBySlug
      x-operation-id-source: derived
    delete:
      parameters:
      - in: path
        schema:
          type: string
        description: the organizer post name
        required: true
        name: slug
      responses:
        '200':
          description: Deletes an organizer and returns its data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizer'
        '400':
          description: The organizer post ID is missing or does not exist.
        '403':
          description: The current user cannot delete the organizer with the specified ID.
        '410':
          description: The organizer with the specified ID has been deleted already.
        '500':
          description: The organizer with the specified ID could not be deleted.
      tags:
      - Organizers
      summary: Delete organizers by slug by slug
      x-summary-source: derived
      operationId: deleteOrganizersBySlugBySlug
      x-operation-id-source: derived
    servers:
    - url: https://www.employinc.com/wp-json/tribe/events/v1/
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
    Image:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The URL to the full size version of the image
        id:
          type: integer
          description: The image WordPress post ID
        extension:
          type: string
          description: The image file extension
        width:
          type: integer
          description: The image natural width in pixels
        height:
          type: integer
          description: The image natural height in pixels
        sizes:
          type: array
          description: The details about each size available for the image
          items:
            $ref: '#/components/schemas/ImageSize'
    Organizer:
      type: object
      properties:
        id:
          type: integer
          description: The organizer WordPress post ID
        global_id:
          type: string
          description: The organizer ID used to globally identify in Event Aggregator
        global_id_lineage:
          type: array
          items:
            type: string
          description: An Array containing the lineage of where this organizer comes from, this should not change after the organizer is created.
        author:
          type: integer
          description: The organizer author WordPress post ID
        date:
          type: string
          description: The organizer creation date in the site time zone
        date_utc:
          type: string
          description: The organizer creation date in UTC time
        modified:
          type: string
          description: The organizer last modification date in the site time zone
        modified_utc:
          type: string
          description: The organizer last modification date in UTC time
        status:
          type: string
          description: The organizer status
        url:
          type: string
          description: The URL to the organizer page
        organizer:
          type: string
          description: The organizer name
        description:
          type: string
          description: The organizer long description
        excerpt:
          type: string
          description: The organizer short description
        slug:
          type: string
          description: The organizer slug
        image:
          type: string
          description: The event featured image details if set
          $ref: '#/components/schemas/Image'
        phone:
          type: string
          description: The organizer phone number
        website:
          type: string
          description: The organizer website
        email:
          type: string
          description: The organizer email address
    ImageSize:
      type: object
      properties:
        width:
          type: integer
          description: The image width in pixels in the specified size
        height:
          type: integer
          description: The image height in pixels in the specified size
        mime-type:
          type: string
          description: The image mime-type
        url:
          type: string
          format: uri
          description: The link to the image in the specified size on the site
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application password (HTTP Basic). Authorization endpoint: https://www.employinc.com/wp-admin/authorize-application.php. Declared by the site''s own discovery document under authentication.application-passwords.'
x-refined-from:
- employ-inc-content-api-openapi.yml
- employ-inc-events-calendar-rest-api-openapi.json
