openapi: 3.2.0
info:
  title: Employ Inc Categories API
  x-refined-note:
  - x-generated-from differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: employ-inc-content-api-openapi.yml, employ-inc-events-calendar-rest-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.employinc.com/wp-json/wp/v2
  description: Production — Employ, Inc. corporate site
- url: https://www.employinc.com/wp-json/tribe/events/v1/
tags:
- name: Categories
  description: Blog categories.
paths:
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createCategories
      summary: Create categories
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      security:
      - applicationPassword: []
    servers:
    - url: https://www.employinc.com/wp-json/wp/v2
      description: Production — Employ, Inc. corporate site
  /wp/v2/categories/{id}:
    get:
      operationId: getCategoriesById
      summary: Retrieve a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Categorie record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateCategoriesById
      summary: Update a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Categorie record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      security:
      - applicationPassword: []
    put:
      operationId: updateCategoriesById
      summary: Update a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Categorie record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteCategoriesById
      summary: Delete a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Categorie record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Required to be true, as terms do not support trashing.
                id:
                  type: integer
                  description: Unique identifier for the term.
      security:
      - applicationPassword: []
    servers:
    - url: https://www.employinc.com/wp-json/wp/v2
      description: Production — Employ, Inc. corporate site
  /categories:
    get:
      parameters:
      - in: query
        schema:
          type: integer
        description: The archive page to return
        required: false
        name: page
      - in: query
        schema:
          type: integer
        description: The number of event categories to return on each page
        required: false
        name: per_page
      - in: query
        schema:
          type: string
        description: Limit results to those matching a string
        required: false
        name: search
      - in: query
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set exclude specific IDs
        required: false
        name: exclude
      - in: query
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs
        required: false
        name: include
      - in: query
        schema:
          type: string
        description: Order sort attribute ascending or descending
        required: false
        name: order
      - in: query
        schema:
          type: string
        description: Sort collection by term attribute
        required: false
        name: orderby
      - in: query
        schema:
          type: boolean
        description: Whether to hide terms not assigned to any posts
        required: false
        name: hide_empty
      - in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent
        required: false
        name: parent
      - in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post
        required: false
        name: post
      - in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific event (an alias of the "post" parameter)
        required: false
        name: event
      - in: query
        schema:
          type: string
        description: Limit result set to terms with a specific slug
        required: false
        name: slug
      responses:
        '200':
          description: Returns all the event categories matching the search criteria
          content:
            application/json:
              schema:
                title: categories
                type: array
                items:
                  $ref: '#/components/schemas/Term'
        '400':
          description: One or more of the specified query variables has a bad format
        '404':
          description: The requested page was not found.
      tags:
      - Categories
      summary: Get categories
      x-summary-source: derived
      operationId: getCategories
      x-operation-id-source: derived
    servers:
    - url: https://www.employinc.com/wp-json/tribe/events/v1/
  /categories/{id}:
    get:
      parameters:
      - in: path
        schema:
          type: integer
        description: the event category term ID
        required: true
        name: id
      responses:
        '200':
          description: Returns the data of the event category with the specified term ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '400':
          description: The event category term ID is missing.
        '404':
          description: An event category with the specified term ID does not exist.
      tags:
      - Categories
      summary: Get categories by id
      x-summary-source: derived
      operationId: getCategoriesById
      x-operation-id-source: derived
    post:
      parameters:
      - in: path
        schema:
          type: integer
        description: the event category term ID
        required: true
        name: id
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  description: the event category term ID
                  type: integer
                name:
                  description: The event category name
                  type: string
                description:
                  description: The event category description
                  type: string
                slug:
                  description: The event category slug
                  type: string
                parent:
                  description: The event category slug
                  type: integer
      responses:
        '200':
          description: Returns the data of the updated event category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '201':
          description: Returns the data of the created event category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '400':
          description: A required parameter is missing or an input parameter is in the wrong format
        '403':
          description: The user is not authorized to create event categories
      tags:
      - Categories
      summary: Create categories by id
      x-summary-source: derived
      operationId: postCategoriesById
      x-operation-id-source: derived
    delete:
      parameters:
      - in: path
        schema:
          type: integer
        description: the event category term ID
        required: true
        name: id
      responses:
        '200':
          description: Deletes an event category and returns its data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '400':
          description: The event category term ID is missing or does not exist.
        '403':
          description: The current user cannot delete the event category with the specified term ID.
        '410':
          description: The event category with the specified term ID has been deleted already.
        '500':
          description: The event category with the specified term ID could not be deleted.
      tags:
      - Categories
      summary: Delete categories by id
      x-summary-source: derived
      operationId: deleteCategoriesById
      x-operation-id-source: derived
    servers:
    - url: https://www.employinc.com/wp-json/tribe/events/v1/
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
    Term:
      type: object
      properties:
        id:
          type: integer
          description: The WordPress term ID
        name:
          type: string
          description: The term name
        slug:
          type: string
          description: The term slug
        taxonomy:
          type: string
          description: The taxonomy the term belongs to
        description:
          type: string
          description: The term description
        parent:
          type: integer
          description: The term parent term if any
        count:
          type: integer
          description: The number of posts associated with the term
        url:
          type: string
          description: The URL to the term archive page
        urls:
          type: array
          items:
            type: string
          description: A list of links to the term own, archive and parent REST URL
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application password (HTTP Basic). Authorization endpoint: https://www.employinc.com/wp-admin/authorize-application.php. Declared by the site''s own discovery document under authentication.application-passwords.'
x-refined-from:
- employ-inc-content-api-openapi.yml
- employ-inc-events-calendar-rest-api-openapi.json
