openapi: 3.2.0
info:
  title: Employ Inc Content Search API
  version: wp/v2
  description: The WordPress REST API served by Employ, Inc.
  contact:
    name: Employ, Inc.
    url: https://www.employinc.com/contact/
  termsOfService: https://www.employinc.com/terms-of-service/
  x-generated-from: https://www.employinc.com/wp-json/ (WordPress REST API discovery document, fetched 2026-09-13, HTTP 200)
servers:
- url: https://www.employinc.com/wp-json/wp/v2
  description: Production — Employ, Inc. corporate site
tags:
- name: Search
  description: Cross-content-type search over published site content.
paths:
  /wp/v2/search:
    get:
      operationId: listSearch
      summary: List search
      description: Cross-content-type search over published site content.
      tags:
      - Search
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - resource
            - glossary_terms
            - lp
            - news_item
            - teams
            - case-study
            - ppc
            - tribe_events
            - category
            - post_tag
            - topic
            - resource_type
            - news_item_type
            - page-type
            - tribe_events_cat
            - any
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      security:
      - {}
      - applicationPassword: []
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application password (HTTP Basic). Authorization endpoint: https://www.employinc.com/wp-admin/authorize-application.php. Declared by the site''s own discovery document under authentication.application-passwords.'
