openapi: 3.2.0
info:
  title: Employ Inc Content News API
  version: wp/v2
  description: The WordPress REST API served by Employ, Inc.
  contact:
    name: Employ, Inc.
    url: https://www.employinc.com/contact/
  termsOfService: https://www.employinc.com/terms-of-service/
  x-generated-from: https://www.employinc.com/wp-json/ (WordPress REST API discovery document, fetched 2026-09-13, HTTP 200)
servers:
- url: https://www.employinc.com/wp-json/wp/v2
  description: Production — Employ, Inc. corporate site
tags:
- name: News
  description: Employ press releases and news items.
paths:
  /wp/v2/news_item:
    get:
      operationId: listNews
      summary: List news
      description: Employ press releases and news items.
      tags:
      - News
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: news_item_type
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the news_item_type taxonomy.
      - name: news_item_type_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the news_item_type taxonomy.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - rand
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - nab_hidden
            - tribe-ea-success
            - tribe-ea-failed
            - tribe-ea-schedule
            - tribe-ea-pending
            - tribe-ea-draft
            - tribe-ignored
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createNews
      summary: Create news
      description: Employ press releases and news items.
      tags:
      - News
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                news_item_type:
                  type: array
                  description: The terms assigned to the post in the news_item_type taxonomy.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
  /wp/v2/news_item/{id}:
    get:
      operationId: getNewsById
      summary: Retrieve a single new
      description: Employ press releases and news items.
      tags:
      - News
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the New record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateNewsById
      summary: Update a single new
      description: Employ press releases and news items.
      tags:
      - News
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the New record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                news_item_type:
                  type: array
                  description: The terms assigned to the post in the news_item_type taxonomy.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    put:
      operationId: updateNewsById
      summary: Update a single new
      description: Employ press releases and news items.
      tags:
      - News
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the New record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                news_item_type:
                  type: array
                  description: The terms assigned to the post in the news_item_type taxonomy.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteNewsById
      summary: Delete a single new
      description: Employ press releases and news items.
      tags:
      - News
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the New record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Whether to bypass Trash and force deletion.
                id:
                  type: integer
                  description: Unique identifier for the post.
      security:
      - applicationPassword: []
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress application password (HTTP Basic). Authorization endpoint: https://www.employinc.com/wp-admin/authorize-application.php. Declared by the site''s own discovery document under authentication.application-passwords.'
