openapi: 3.2.0
info:
  title: Employ Inc Status Components API
  version: v2
  description: The public Atlassian Statuspage API Employ, Inc. serves at https://status.employinc.com/api/v2. It reports the rollup availability indicator, every monitored component, the dated incident timeline and scheduled maintenance windows for the Employ platform. Every operation is anonymous — no key, no account. This document is DERIVED from the eight endpoints API Evangelist probed on 2026-09-13, all of which returned HTTP 200; schemas were read from the bodies those calls returned.
  contact:
    name: Employ, Inc.
    url: https://www.employinc.com/contact/
  x-generated-from: probed responses from https://status.employinc.com/api/v2/*.json (2026-09-13, HTTP 200)
servers:
- url: https://status.employinc.com/api/v2
  description: Employ public status page API
tags:
- name: Components
  description: Individually monitored Employ platform components.
paths:
  /components.json:
    get:
      operationId: listComponents
      summary: List monitored components
      description: Every component Employ monitors on its public status page, with its current operational state.
      tags:
      - Components
      security:
      - {}
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    $ref: '#/components/schemas/Page'
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
                required:
                - page
        '404':
          description: No status page at this host.
components:
  schemas:
    Page:
      type: object
      description: Identity of the Employ status page the response belongs to.
      properties:
        id:
          type: string
          description: Statuspage page identifier (5t2j43rsvdfx for Employ).
        name:
          type: string
          description: Page name.
        url:
          type: string
          format: uri
          description: Public page URL.
        time_zone:
          type: string
          description: IANA time zone the page renders times in.
        updated_at:
          type: string
          format: date-time
          description: When the page was last updated.
      required:
      - id
      - name
      - url
      - updated_at
    Component:
      type: object
      description: One monitored Employ platform component.
      properties:
        id:
          type: string
          description: Component identifier.
        name:
          type: string
          description: Component display name, e.g. AI Interview Companion.
        status:
          type: string
          description: Current operational state.
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
        description:
          type:
          - string
          - 'null'
          description: What the component covers.
        position:
          type: integer
          description: Display order on the page.
        group:
          type: boolean
          description: True when the entry is a group header rather than a component.
        group_id:
          type:
          - string
          - 'null'
          description: Parent group identifier, when grouped.
        showcase:
          type: boolean
          description: Whether the component is showcased on the page.
        only_show_if_degraded:
          type: boolean
          description: Whether the component is hidden while operational.
        start_date:
          type:
          - string
          - 'null'
          description: Date the component began being monitored.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - status
