# generated: '2026-09-13'
# method: derived
# source: https://www.employinc.com/wp-json/ (HTTP 200, WordPress REST API discovery document)
openapi: 3.1.0
info:
  title: Employ Inc Content API
  version: wp/v2
  description: 'The WordPress REST API served by Employ, Inc. at https://www.employinc.com/wp-json/wp/v2. It exposes the Employ
    corporate site as machine-readable JSON: blog posts, marketing and legal pages, media, the resource/case-study/news/glossary/teams
    custom post types, the topic/resource_type/news_item_type/page-type taxonomies, and cross-type search. Read operations
    on published content are anonymous; every write, and the /wp/v2/users and /wp/v2/comments collections, require an authenticated
    WordPress application password. This document is DERIVED from the route schemas Employ''s own discovery document publishes
    at https://www.employinc.com/wp-json/ — no operation, parameter or description here was invented.'
  contact:
    name: Employ, Inc.
    url: https://www.employinc.com/contact/
  termsOfService: https://www.employinc.com/terms-of-service/
  x-generated-from: https://www.employinc.com/wp-json/ (WordPress REST API discovery document, fetched 2026-09-13, HTTP 200)
servers:
- url: https://www.employinc.com/wp-json/wp/v2
  description: Production — Employ, Inc. corporate site
tags:
- name: Case Studies
  description: Customer case studies.
- name: Categories
  description: Blog categories.
- name: Glossary
  description: Recruiting and talent-acquisition glossary terms.
- name: Landing Pages
  description: Campaign landing pages.
- name: Media
  description: Images and files in the Employ media library.
- name: News
  description: Employ press releases and news items.
- name: News Types
  description: The news_item_type taxonomy.
- name: Page Types
  description: The page-type taxonomy.
- name: Pages
  description: Marketing, product and legal pages on www.employinc.com.
- name: Posts
  description: Employ blog posts.
- name: Paid Campaigns
  description: Paid-search campaign pages.
- name: Resources
  description: 'Gated resources: reports, guides, toolkits and whitepapers.'
- name: Resource Types
  description: The resource_type taxonomy.
- name: Search
  description: Cross-content-type search over published site content.
- name: Statuses
  description: Registered post statuses.
- name: Tags
  description: Blog tags.
- name: Taxonomies
  description: Registered taxonomies on the Employ site.
- name: Teams
  description: Employ leadership and team member profiles.
- name: Topics
  description: The topic taxonomy applied to resources and posts.
- name: Events
  description: Employ events, as WordPress posts.
- name: Event Categories
  description: The event category taxonomy.
- name: Organizers
  description: Event organizers, as WordPress posts.
- name: Venues
  description: Event venues, as WordPress posts.
- name: Types
  description: Registered content types on the Employ site.
paths:
  /wp/v2/case-study:
    get:
      operationId: listCaseStudies
      summary: List case studies
      description: Customer case studies.
      tags:
      - Case Studies
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: format
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
        description: Limit result set to items assigned one or more given formats.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          - rand
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - nab_hidden
            - tribe-ea-success
            - tribe-ea-failed
            - tribe-ea-schedule
            - tribe-ea-pending
            - tribe-ea-draft
            - tribe-ignored
            - any
        description: Limit result set to posts assigned one or more statuses.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createCaseStudies
      summary: Create case studies
      description: Customer case studies.
      tags:
      - Case Studies
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  description: The format for the post.
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
  /wp/v2/case-study/{id}:
    get:
      operationId: getCaseStudiesById
      summary: Retrieve a single case studie
      description: Customer case studies.
      tags:
      - Case Studies
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - &id001
        name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Case Studie record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateCaseStudiesById
      summary: Update a single case studie
      description: Customer case studies.
      tags:
      - Case Studies
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  description: The format for the post.
                  enum: &id002
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: &id003
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    put:
      operationId: updateCaseStudiesById
      summary: Update a single case studie
      description: Customer case studies.
      tags:
      - Case Studies
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                format:
                  type: string
                  description: The format for the post.
                  enum: *id002
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                meta:
                  type: object
                  description: Meta fields.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: *id003
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteCaseStudiesById
      summary: Delete a single case studie
      description: Customer case studies.
      tags:
      - Case Studies
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Whether to bypass Trash and force deletion.
                id:
                  type: integer
                  description: Unique identifier for the post.
      security:
      - applicationPassword: []
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createCategories
      summary: Create categories
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
              required:
              - name
      security:
      - applicationPassword: []
  /wp/v2/categories/{id}:
    get:
      operationId: getCategoriesById
      summary: Retrieve a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - &id004
        name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Categorie record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the term.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateCategoriesById
      summary: Update a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id004
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      security:
      - applicationPassword: []
    put:
      operationId: updateCategoriesById
      summary: Update a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id004
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                id:
                  type: integer
                  description: Unique identifier for the term.
                meta:
                  type: object
                  description: Meta fields.
                name:
                  type: string
                  description: HTML title for the term.
                parent:
                  type: integer
                  description: The parent term ID.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteCategoriesById
      summary: Delete a single categorie
      description: Blog categories.
      tags:
      - Categories
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id004
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Required to be true, as terms do not support trashing.
                id:
                  type: integer
                  description: Unique identifier for the term.
      security:
      - applicationPassword: []
  /wp/v2/glossary_terms:
    get:
      operationId: listGlossary
      summary: List glossary
      description: Recruiting and talent-acquisition glossary terms.
      tags:
      - Glossary
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - rand
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - nab_hidden
            - tribe-ea-success
            - tribe-ea-failed
            - tribe-ea-schedule
            - tribe-ea-pending
            - tribe-ea-draft
            - tribe-ignored
            - any
        description: Limit result set to posts assigned one or more statuses.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createGlossary
      summary: Create glossary
      description: Recruiting and talent-acquisition glossary terms.
      tags:
      - Glossary
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
  /wp/v2/glossary_terms/{id}:
    get:
      operationId: getGlossaryById
      summary: Retrieve a single glossary
      description: Recruiting and talent-acquisition glossary terms.
      tags:
      - Glossary
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - &id005
        name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Glossary record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateGlossaryById
      summary: Update a single glossary
      description: Recruiting and talent-acquisition glossary terms.
      tags:
      - Glossary
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id005
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                id:
                  type: integer
                  description: Unique identifier for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: &id006
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    put:
      operationId: updateGlossaryById
      summary: Update a single glossary
      description: Recruiting and talent-acquisition glossary terms.
      tags:
      - Glossary
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id005
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                id:
                  type: integer
                  description: Unique identifier for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: *id006
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteGlossaryById
      summary: Delete a single glossary
      description: Recruiting and talent-acquisition glossary terms.
      tags:
      - Glossary
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id005
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Whether to bypass Trash and force deletion.
                id:
                  type: integer
                  description: Unique identifier for the post.
      security:
      - applicationPassword: []
  /wp/v2/lp:
    get:
      operationId: listLandingPages
      summary: List landing pages
      description: Campaign landing pages.
      tags:
      - Landing Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          - rand
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - nab_hidden
            - tribe-ea-success
            - tribe-ea-failed
            - tribe-ea-schedule
            - tribe-ea-pending
            - tribe-ea-draft
            - tribe-ignored
            - any
        description: Limit result set to posts assigned one or more statuses.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createLandingPages
      summary: Create landing pages
      description: Campaign landing pages.
      tags:
      - Landing Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
  /wp/v2/lp/{id}:
    get:
      operationId: getLandingPagesById
      summary: Retrieve a single landing page
      description: Campaign landing pages.
      tags:
      - Landing Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - &id007
        name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Landing Page record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateLandingPagesById
      summary: Update a single landing page
      description: Campaign landing pages.
      tags:
      - Landing Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id007
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: &id008
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    put:
      operationId: updateLandingPagesById
      summary: Update a single landing page
      description: Campaign landing pages.
      tags:
      - Landing Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id007
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID for the author of the post.
                content:
                  type: object
                  description: The content for the post.
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                parent:
                  type: integer
                  description: The ID for the parent of the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: *id008
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    delete:
      operationId: deleteLandingPagesById
      summary: Delete a single landing page
      description: Campaign landing pages.
      tags:
      - Landing Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id007
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Whether to bypass Trash and force deletion.
                id:
                  type: integer
                  description: Unique identifier for the post.
      security:
      - applicationPassword: []
  /wp/v2/media:
    get:
      operationId: listMedia
      summary: List media
      description: Images and files in the Employ media library.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: media_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
        description: Limit result set to attachments of a particular media type or media types.
      - name: mime_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to attachments of a particular MIME type or MIME types.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - rand
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: inherit
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
        description: Limit result set to posts assigned one or more statuses.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: createMedia
      summary: Create media
      description: Images and files in the Employ media library.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  description: Whether or not comments are open on the post.
                  enum:
                  - open
                  - closed
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  description: Whether or not the post can be pinged.
                  enum:
                  - open
                  - closed
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
  /wp/v2/media/{id}:
    get:
      operationId: getMediaById
      summary: Retrieve a single media
      description: Images and files in the Employ media library.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - &id009
        name: id
        in: path
        required: true
        schema:
          type: integer
        description: Identifier of the Media record.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: query
        required: false
        schema:
          type: integer
        description: Unique identifier for the post.
      security:
      - {}
      - applicationPassword: []
    post:
      operationId: updateMediaById
      summary: Update a single media
      description: Images and files in the Employ media library.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id009
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  description: Whether or not comments are open on the post.
                  enum: &id010
                  - open
                  - closed
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  description: Whether or not the post can be pinged.
                  enum: &id011
                  - open
                  - closed
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  description: A named status for the post.
                  enum: &id012
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - nab_hidden
                  - tribe-ea-success
                  - tribe-ea-failed
                  - tribe-ea-schedule
                  - tribe-ea-pending
                  - tribe-ea-draft
                  - tribe-ignored
                template:
                  type: string
                  description: The theme file to use to display the post.
                title:
                  type: object
                  description: The title for the post.
      security:
      - applicationPassword: []
    put:
      operationId: updateMediaById
      summary: Update a single media
      description: Images and files in the Employ media library.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: Forbidden — the authenticated user cannot perform this action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No record found for the requested identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - *id009
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                author:
                  type: integer
                  description: The ID for the author of the post.
                caption:
                  type: object
                  description: The attachment caption.
                comment_status:
                  type: string
                  description: Whether or not comments are open on the post.
                  enum: *id010
                date:
                  type: string
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  description: The date the post was published, as GMT.
                description:
                  type: object
                  description: The attachment description.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                id:
                  type: integer
                  description: Unique identifier for the post.
                meta:
                  type: object
                  description: Meta fields.
                ping_status:
                  type: string
                  description: Whether or not the post can be pinged.
                  enum: *id011
                post:
[...]
